@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

:root {
    --font-heading: 'Raleway', sans-serif;
    --font-body: 'Open Sans', sans-serif;

    --ftr-clr-drk: hsl(243, 87%, 12%);
    --ftr-clr-gray: hsl(238, 22%, 44%);

    /* ACCENT */
    --acnt-blu: hsl(224, 93%, 58%);
    --accnt-cyan: hsl(170, 45%, 43%);
    --lght-gryblue: hsl(240, 75%, 98%);
    --lght-gray: hsl(0, 0%, 75%);
}

body {
    font-family: var(--font-body);
    color: var(--ftr-clr-drk);
}

header {    
    display: flex;
    justify-content: space-between;
    padding: 4rem;
}

ul {
    display: flex;
}

.menu {
    list-style-type: none;
    padding-right: 2.5rem;
}

li a {
    text-decoration: none;
    color: #000;
}

.get-started {
    display: grid;
    grid-template-columns: auto min-content;
    justify-content: center;
    padding: 0 4rem;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;
}

p {
    font-size: 1.2rem;
}

h2 {
    font-family: var(--font-heading);
    font-size: 2.2rem;
    line-height: 3.5rem;
}

input {
    height: 2rem;
}

.curve img {
    width: 100%;
    display: block;
}

.stay-productive {
    background-color: var(--lght-gryblue);
    display: flex;
    padding: 0 6rem 6rem 4rem;
}

.testimonial {
    background-color: #fff;
    box-shadow: 0 0 15px 1px var(--lght-gray);
    border-radius: 5px;
    width: 60%;
    height: 50%;
    margin-top: 1.5rem;
    padding: 2rem;
}

.fylo {
    color: var(--accnt-cyan);
    text-decoration: underline;
    text-underline-position: under;
}

.testimonial p {
    font-size: 1.2rem;
}

.profile {
    margin-top: 1rem;
}

.kyle {
    margin-right: 0.5rem;
    border-radius: 50%;
    float: left;
}

.early-access {
    background-color: var(--ftr-clr-gray);
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    gap: 10rem;
    color: #fff;
}

.access-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.access-input input {
    height: 3rem;
}

.button {
    width: 15rem;
    background-color: var(--acnt-blu);
    border: none;
    color: #fff;
    border-radius: 3px;
    font-size: var(--font-body);
}

.email, .email-2 {
    padding-left: 1rem;
    font-size: var(--font-body);
}

.email {
    width: 22rem;
    margin-right: 0.85rem;
    border-radius: 3px;
}

.email-2 {
    width: 30rem;
    border-radius: 3px;
}

footer {
    background-color: var(--ftr-clr-drk);
    color: #fff;
    padding: 6rem 4rem 4rem 4rem;
    display: flex;
    justify-content: space-between;
}

.footer-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;  
}   

footer p img {
    margin-right: 1.5rem;
}

.footer-link {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-link a {
    color: #fff;
    text-decoration: none;
}

.footer-icon {
    width: 10%;
    display: flex;
    justify-content: space-around;
}

.white-logo {
    filter: invert(100%) sepia(100%) saturate(16%) hue-rotate(286deg) brightness(500%) contrast(200%)
}









